"""Command-line interface for {{ project_name }}."""

import click


@click.command()
@click.option("--name", default="world", help="Who to greet.")
def main(name: str) -> None:
    """{{ description }}"""
    click.echo(f"Hello, {name}!")


if __name__ == "__main__":
    main()
